.icon_brand {
  display: flex;
  align-items: center;
}

.icon_brand img {
  height: 30px;
  margin-right: 10px;
}

.icon_brand p {
  color: rgb(248, 248, 0);
  font-size: 20px;
  font-weight: bold;
}