/* GENERAL CSS */
.about .content {
  margin: 50px 100px 0px;
  display: flex;
  justify-content: space-between;
}

.about .content h1, h2 {
  color: rgb(248, 248, 0);
}


/* LEFT CSS */
.about .content .left{
  width: 50%;
}

.about .content .left p {
  color: white;
  font-size: 16px;
}

/* CONTACT CSS */
.about .content .left .contact {
  width: 80%;
  margin-top: 20px;
}

.about .content .left .contact .detail {
  display: flex;
  align-items: center;
}

.about .content .left .contact .detail img {
  width: 40px;
  margin-right: 10px;
}

/* RIGHT CSS */
.about .content .right{
  background-color: rgba(82, 82, 220, 0.544);
  width: 40%;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .content .right .searchBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about .content .right .searchBar Input{
  width: 78%;
  box-sizing: border-box;
}

.about .content .right .searchBar Button{
  width: 20%;
}

.about .content .right textarea{
  width: 100%;
  height: 40%;
  padding: 15px 10px;
  box-sizing: border-box;
  outline: none;
  background-color: white;
}

/* PHONE CSS */
@media screen and (max-width: 414px) {
  .about .content {
    width: 100%;
    margin: 0px;
    flex-direction: column;
    padding: 80px 20px 0px;
    box-sizing: border-box;
    align-items: start;
  }

  .about .content .right, .about .content .left{
    width: 100%;
  }

  /* LEFT CSS */
  .about .content .left{
    margin-bottom: 20px;
  }

  /* RIGHT CSS */
  .about .content .right{
    padding: 30px;
  }
}