.login {
  margin-left: 100px;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}

.login .content{
  width: 100%;
}

/* HEADER LOGIN CSS */
.login .content .header{
  margin-bottom: 20px;
}

.login .content .header h1{
  color: rgb(248, 248, 0);
}

.login .content .header p{
  font-size: 16px;
  font-weight: 700;
  color: white;
}

/* BODY LOGIN CSS */
.login .content .body{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.login .content .body Input{
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* PHONE CSS */
@media screen and (max-width: 414px) {
  .login {
    width: 100%;
    margin-left: 0px;
    padding: 80px 20px 0px;
    box-sizing: border-box;
    align-items: start;
  }

  /* BODY LOGIN CSS */
  .login .content .body{
    width: 100%;
  }
}