.tracking .content {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 0px 100px;
}

.tracking .content h1 {
  color: rgb(248, 248, 0);
}

.tracking .content p {
  font-size: 16px;
}

/* TITLE CSS */
.tracking .content .title p {
  color: white;
}

/* TABLE CSS */
.tracking .content .table {
  width: 100%;
  margin-top: 10px;
  background-color: black;
  text-align: center;
  display: grid;
  gap: 1px;
  padding: 1px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 200px;
}

.tracking .content .table .item {
  background-color: white;
  padding: 10px;
}

/* TRACKING ADMIN CSS */
.trackingAdmin .content {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 0px 100px;
}

.trackingAdmin .content h1 {
  color: rgb(248, 248, 0);
}

.trackingAdmin .content p {
  font-size: 16px;
  font-weight: bold;
}

/* TITLE CSS */
.trackingAdmin .content .title {
  margin-bottom: 10px;
}

.trackingAdmin .content .title p {
  color: white;
}

.trackingAdmin .content .title span {
  color: rgb(248, 248, 0);
}

/* BODY CSS */
.trackingAdmin .content .body {
  display: grid;
  row-gap: 10px;
  width: 50%;
}

.trackingAdmin .content .body .searchBar {
  display: flex;
}

.trackingAdmin .content .body .searchBar Input{
  width: 90%;
  box-sizing: border-box;
}

.trackingAdmin .content .body .searchBar Button{
  width: 20%;
  box-sizing: border-box;
}

.trackingAdmin .content .body .result Input {
  background-color: white;
  border: none;
  width: 100%;
  box-sizing: border-box;
}