.home {
  width: 50%;
  margin-left: 100px;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}

.home .content h1 {
  color: rgb(248, 248, 0);
  margin-bottom: 10px;
}

.home .content p {
  color: white;
  margin-bottom: 10px;
}

.home .content Button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

/* PHONE CSS */
@media screen and (max-width: 414px) {
  .home {
    width: 100%;
    margin-left: 0px;
    padding: 80px 20px 0px;
    box-sizing: border-box;
    align-items: start;
  }
}