.add {
  margin: 0px 100px;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}

.add .content {
  width: 100%;
}

/* HEADER LOGIN CSS */
.add .content .header{
  margin-bottom: 20px;
}

.add .content .header h1{
  color: rgb(248, 248, 0);
}

.add .content .header p{
  font-size: 16px;
  font-weight: 700;
  color: white;
}

/* BODY LOGIN CSS */
.add .content .body{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 30px;
}

.add .content .body select{
  padding: 7px;
  font-size: 16px;
  border-right: 7px solid white;
}