.container {
  background-image: url(../../assets/images/bg-brand.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 414px) {
  .container {
    height: 120vh;
  }
}