.account .content {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 0px 100px;
}

.account .content h1 {
  color: rgb(248, 248, 0);
}

.account .content p {
  font-size: 16px;
  font-weight: bold;
}

/* TITLE CSS */
.account .content .title p {
  color: white;
}

.account .content .title span {
  color: rgb(248, 248, 0);
}

/* BODY CSS */
.account .content .body {
  width: 60%;
  margin-top: 10px;
  text-align: center;
  background-color: black;
  display: grid;
  gap: 1px;
  grid-template-columns: auto auto;
}

.account .content .body .item {
  background-color: white;
  padding: 10px;
}