.confirm .content {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 0px 100px;
}

.confirm .content h1 {
  color: rgb(248, 248, 0);
}

.confirm .content p {
  font-size: 16px;
  font-weight: bold;
}

/* TITLE CSS */
.confirm .content .title {
  margin-bottom: 10px;
}

.confirm .content .title p {
  color: white;
}

.confirm .content .title span {
  color: rgb(248, 248, 0);
}

/* BODY CSS */
.confirm .content .body {
  display: grid;
  row-gap: 10px;
  width: 60%;
}

.confirm .content .body .input {
  display: flex;
}

.confirm .content .body label {
  background-color: white;
  padding: 15px 15px;
  border: 1px solid black; 
  font-size: 16px;
  font-weight: bold;
  width: 45%;
  text-align: center;
  box-sizing: border-box;
}

.confirm .content .body Input {
  width: 55%;
  box-sizing: border-box;
}